#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean

override_dh_installdocs:
	dh_installdocs NEWS

#override_dh_auto_install:
#	dh_install hello usr/bin/
#	dh_install debian/testing.sh usr/bin/
